<h1> Account Transactions for Account Number: {{accountNumber}} </h1>
<div class="alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Value Date</th>
        <th>Currency</th>
        <th>Debit Amount</th>
        <th>Credit Amount</th>
        <th>Debit/Credit</th>
        <th>Transaction Narrative</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{accountNumber}}</td>
        <td>{{accountName}}</td>
        <td>{{transaction.valueDate | date}}</td>
        <td>{{currency}}</td>
        <td>{{transaction.debitAmount}}</td>
        <td>{{transaction.creditAmount}}</td>
        <td>{{transaction.debitCredit}}</td>
        <td>{{transaction.transactionNarrative}}</td>
        <td>
            <button (click)="updateTransaction(accountNumber, transaction.id)" class="btn btn-warning">Update</button>
          </td>
          <td>
            <button (click)="deleteTransaction(accountNumber, transaction.id)" class="btn btn-danger">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
  <button (click)="addTransaction(accountNumber)" class="btn btn-success">Add Transaction</button>
  <div class="divider"></div>
  <button (click)="goBack()" class="btn btn-secondary">Back</button>
</div>
